.nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(21, 21, 21);
    justify-content:space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightNav {
    color: rgb(172, 171, 171);
    padding-right: 15px;;
}

.leftNav {
    display: flex;
    flex-direction: row;
    color: skyblue;
    padding-left: 5px;
}

#reactLogo {
    margin: 0;
    height: 50px;
    width: auto;
    padding: 10px;
}